<div class="item">
  <div class="well well-compact">
      <div class="card-block">
        <p> <%= link_to "Take LPA", survey_path(survey), class: "btn btn-info" %>  <%= survey.title %> </p>
      </div>
  </div>      
</div>
